# Ignore configuration files
*.env

# Ignore Download folder
downloads

# Logs and debug
*.log
debug.log

# Jupyter Notebook
.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class